#Basic
NODE_ENV=

#gRPC
GRPC_HOST=
GRPC_PORT=

#Database
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_SSL=
DATABASE_SYNCHRONIZE=
DATABASE_USER=

#Cryptography
CRYPTOGRAPHY_PASSWORD_SECRET=

#Tokens
TOKENS_ACCESS_SECRET=
TOKENS_ACCESS_DURATION=
TOKENS_REFRESH_SECRET=
TOKENS_REFRESH_DURATION=